:root {
    --pic-2-width: 400px;
    --pic-2-height: 200px;
    --reel-2-width: 2400px;
}

.pic-2 {
    width: var(--pic-2-width);
    height: var(--pic-2-height);
    opacity: 25%;
}

.pic-2.active {
    opacity: 100%;
}

#reel-2 {
    width: var(--reel-2-width);
    gap: 10px;
    margin-left: var(--pic-2-width);
}

.viewport {
    position: relative;
    width: 1200px;
    overflow: hidden;
}

#prev-box-2 {
    left: 0px;
}

#next-box-2 {
    right: 0px;
}

.arrow-button-2 {
    width: 45px;
}

.arrow-button-2.active {
    cursor: pointer;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #eac452;
    cursor: pointer;
}

.dot:hover {
    background-color: #7a511d;
}

.dot.active {
    background-color: #8c1af6;
}