
:root {
    --pic-1-width: 800px;
    --pic-1-height: 400px;
    --reel-1-width: 4000px;
}

.pic-1 {
    width: var(--pic-1-width);
    height: var(--pic-1-height);
}

#reel-1 {
    width: var(--reel-1-width);
}

.picture-frame {
    position: relative;
    width: var(--pic-1-width);
    overflow: hidden;
}

#prev-box-1 {
    left: 0px;
}

#next-box-1 {
    right: 0px;
}

.arrow-button-1 {
    width: 75px;
}

.arrow-button-1.active {
    cursor: pointer;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #b2a8d3;
    cursor: pointer;
}

.circle:hover {
    border: 2px solid white;
}

.circle.active {
    background-color: #b2a8d3;
}